/* Basic reset */

* {
    margin:1px;
    padding:1px;
    box-sizing: border-box;
    font: bold 15px Arial,sans-serif;
    color: #e1dfbe
}

/* A nice BG gradiant */
html {
    height:100%;
    background: radial-gradient(circle,#c0c0c0 20%,#708090)
}

/* Using box shadows to create 3D effects */

#calculator {
    width: 350px;
    height: 400px;

    margin: 100px;
    padding: 20px;

    background: linear-gradient(#8fbc8f, #c0c0c0);
    border-radius: 7px;
    box-shadow: 0px 4px;
}

/* Top portion */
    .top span.clear {
        float: left;
    }

    .top .screen {
        height: 50px;
        width: 225px;

        float: right;

        padding: 0 1px;

        background: #708090;
        border-radius: 5px;

        /* Typography*/
    font-size: 17px;
        line-height: 40px;
        color: white;
        text-align: right;
    }

/* Clear floats */
    .keys, .top {overflow: hidden;}

    /*Applying same to the keys*/


    .keys span, .top span.clear {
        float: left;
        position: relative;
        top: 0;

        cursor: pointer;

        width: 66px;
        height: 50px;

        background: white;
        border-radius: 3px;
        box-shadow: 0px 4px #708090;

        margin: 0 7px 11px 0;


        line-height: 50px;
        text-align:center;

        /* prevent selection of text inside keys*/
        user-select:none;


    }

/* Remove right margins from operator keys*/
/*span.operator {margin-right: 0;}*/

/* style different type of keys (operators/evaluate/clear) */

/* Some hover effects*/
.keys span:hover {
    background: #9c89f6;
    box-shadow: 0px 4px #6b54d3;
    color: white;
}

.keys span.eval:hover {
    background: #abb850;
    box-shadow: 0px 4px #717a3;
    color: #ffffff;
}

.top span.clear:hover {
    background: #f68991;
    box-shadow: 0px 4px #d3545d;
    color: white;
}



/* Stimulating" pressed effect on active state
 of the keys by removing the box-shadow and
 moving the keys down a bit */

.keys span:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

.keys span.operator {
    background: #FFF0F5;
}

.keys span.eval:hover {
    background: #f1ff92;
    box-shadow: 0px 4px #9da853;
    color: #888e5f;

}

.top span.clear:hover {
    background: #ff9fa8;
    box-shadow: 0px 4px #ff7c87;
    color: white;
}




